@font-face {
    font-family: myfont;
    src: url('../static/COMICSANS.TTF');
}
*{
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* width: 100vw; */
    font-family: myfont;
    font-weight: bold;
    letter-spacing: 1.2;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

.container{
    height: 100vh;
    width: 100vw;
    background-image: url('../static/bg.jpg');
    background-size: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.upper-bar{
  
    display: flex;
    height: 13vh;
    justify-content:space-around;
}
.diamond{
 
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}
.troffie{
   
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
.upper-bar img{
    height: 50px;
    width: 50px;
} 
.upper-2-bar{
    /* border: 2px solid black; */
    height: 20vh;
    font-size: 30px;
    padding-top: 5px;
    font-size: 40px;
    
}
.upper-2-bar div{
    margin-left: 60px;
}
.last-bar{
    /* border: 2px solid black; */
    height: 70vh;
    display: flex;
    
}
.last-right-bar{
    /* border: 2px solid black; */
    width: 40vw;
    height: 70vh;
    
}
.last-left-bar{
    /* border: 2px solid black; */
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}
.upper-2-bar-mydiv{
    /* border: 2px solid black; */
    display: flex;
    column-gap: 10px;
    
}
.myinp{
    width: 40px;
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    outline: none;
    font-size: 40px;
}

.key{
    font-size: 45px;
    padding: 4px;
    /* border: 2px solid black; */
    color: rgb(16, 16, 254);
    border: none;
    
    background-color: transparent;
}
.key:hover{
    /* border: 0.1px solid grey; */
    border-radius: 50%;
    color: red;
    cursor: pointer;
}
.last-left-bar div{
    /* border: 2px solid black; */
    display: flex;
    column-gap: 25px;
    
}
.hangle{
    /* border: 2px solid black;  */
    
    position: absolute;
    
    height:50vh;
}
.hangman-middle {

    display: flex;
}
.hangman-middle img:nth-child(1){
   
    
    position: relative;
    left: 295px;
    top: 20px;
    visibility: hidden;
}
.hangman-middle img:nth-child(2){
    
    
    position: relative;
    left: 168px;
    top: 30px;
    visibility: hidden;
}
.hangman-middle img:nth-child(3){
    
    
    position: relative;
    left: 230px;
    top: 27px;
    visibility: hidden;
}
.hangman-lower img:nth-child(1){
    
    position: relative;
    left: 325px;
    top: 10px;
    visibility: hidden;
}
.hangman-lower img:nth-child(2){
    
    position: relative;
    left: 194px;
    top: 10px;
    visibility: hidden;
    
}
.hangman-lower img{
    height: 130px;
}
.hangman-upper img{
    
    visibility: hidden;
    
    position: relative;
    left: 295px;
    top: 25px;
    /* z-index: 12222; */
    /* margin-left: 240px; */
}
.hangman img{
    height: 120px; 
}
.showpopup{
    border: 7px solid black;
    height: 30vh;
    width: 30vw;
    position: absolute;
    margin-top: 30vh;
    margin-left: 35vw;
    background-color: white;
    border-radius: 20px;
    z-index: 12121;
    /* background-image: url('../static/bg.jpg'); */
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}
.showpopup img{
    height: 100px;
    border-radius: 50%;
}
.showpopup a{
    color: black;
    text-decoration: none;
}
.showpopup h2:hover{
    cursor: pointer;
    color: red;
}
.whenpopup{
    opacity: 0.2;
    cursor: not-allowed;
}

/* for the start page */

.bd1{
    background-color: black;
}
.vid1{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;

    
}

.anc1{
    z-index: 10;
    text-decoration: none;
    font-family: fantasy;
}
.bd1 .arcader{
    z-index: 9;
    position: absolute;
    top: 6vh;
    left: 32vw;
    height: 50vw;
    width: 35vw;
    
}

.start1{
   
    /* border: 5px solid black; */
    width: 98vw;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;

}
.button-56 {
    
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #09e3fb;
  border-radius: 8px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #09e3fb;
  border-radius: 8px;
  content: "";
  display: block;
  height: 50px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
  cursor: pointer;
}


